body {
  background-color:#F0E8D1;
  color:#463220;
}

#header span {
  border:1px solid #463220;
}

.pages {
  font-size: 11px;
  line-height:20px;
}
.pages h1 {font-size: 22px; line-height:20px;}
.pages h2 {font-size: 12px; line-height:20px;}
