* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

body {
  background:
    url('http://dummyimage.com/10x10/4E483E/4E483E') left top repeat-y,
    url('http://dummyimage.com/10x10/EA8D5F/EA8D5F') right top repeat-y,
    url('http://dummyimage.com/10x10/F0E8D1/F0E8D1') left top;
    /*
    url(bg-left.png) left top repeat-y,
    url(bg-right.png) right top repeat-y,
    url(bg-main.png) left top;
    */
  background-color:#F0E8D1;
  color:#463220;
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
/*  -webkit-box-shadow: inset 5px 0px 10px #888888;*/
}

#header {
  top:0;
  left:0;
  width:100%;
  height:45px;
  line-height:45px;
  padding:0 20px;
  height:45px;
  -webkit-box-sizing:border-box;
}

#header #quickbook {
  float:left;
  height:25px;
  width:100px;
  margin-top:8px;
  text-indent: -9999px;
  background: orange url('http://dummyimage.com/100x25/EF4327/EF4327') no-repeat 0px 0px;
}

#header #quickbook a{
  display:block;
  height:25px;
  width:100px;
}


#header #bookmark,#header #aa{
  float:right;
  text-indent: -9999px;
  margin-top:8px;
  margin-right:10px;
}

#header #bookmark {
  height:25px;
  width:18px;
  background: transparent url('http://dummyimage.com/50x25/D23F18/D23F18') no-repeat 0px 0px;
  -webkit-transition: all 100ms linear;
}
#header #bookmark.active {
  background-position: -18px 0px;
  }
  
#header #aa{
  height:25px;
  width:20px;
  background: orange url('http://dummyimage.com/20x25/D79038/D79038') no-repeat 0px 0px;
}

#wrapper {
  z-index:1;
  top:45px;
  bottom:48px;
  left:0;
  width:100%;
  overflow:auto;
}

#scroller {
  position:relative;
  float:left;
  width:100%;
  margin-top:10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-box-sizing:border-box;
}

.pages {
  float:left;
  margin:0;
  padding:0px 15px 20px 20px;
  overflow:hidden;
  text-align:justify;
  font-size: 13px;
  line-height:25px;
  -webkit-box-sizing:border-box;
}
.pages h1 {font-size: 22px; line-height:25px;}
.pages h2 {font-size: 12px; line-height:25px;}
.pages img {float:right; margin:0 0 0 10px;}



#footer {
	width:auto;
	height:40px;
/*  background-color:red;*/
}

#footer #indicator {
  text-align:center;
  position:relative;
  margin:0 55px 0 50px;
  height:14px;
  background-image: url('http://dummyimage.com/200x14/000/fff');
}

#footer #indicator span {
  position:absolute;
  height:14px;
  width:20px;
  top:0px;
  left:0px;
  margin:0; padding:0;
  background-image: url('http://dummyimage.com/20x14/4e9e06/4e9e06');
  -webkit-transition: all 100ms ease-in-out;
}
#footerhidden {
	width:auto;
	height:200px;
}

#prev, #next {
	float:left;
	font-weight:bold;
	width:50px;
	height:40px;
	-webkit-touch-callout: none;
  background: url('http://dummyimage.com/30x10/4e9e06/4e9e06') no-repeat 10px 5px;
}

#next {
	float:right;
  background: url('http://dummyimage.com/30x10/4e9e06/4e9e06') no-repeat 10px 5px;
}

#pagecounter {
  font-size:9px;
  text-align:center;
}



#addToHomeScreen {
  display:none;
  position:absolute;
  top:40px;
  right:20px;
  /*left:-9999px;*/
  -webkit-transition-property:-webkit-transform,opacity;
  -webkit-transition-duration:0;
  -webkit-transform:translate3d(0,0,0);
  
	z-index:9999;
	-webkit-user-select:none;
	-webkit-box-sizing:border-box;
	width:208px;
	font-size:13px;
	padding:10px;
	text-align:left;
	font-family:helvetica;
	background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#fff),color-stop(0.02,#eee),color-stop(0.98,#ccc),color-stop(1,#a3a3a3));
	border:1px solid #505050;
	-webkit-border-radius:4px;
	-webkit-background-clip:padding-box;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	line-height:130%;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.5);
}

#addToHomeScreen .arrow {
	position:absolute;
	border-width:0 1px 1px 0;
	border-style:solid;
	border-color:#505050;
	width:16px; height:16px;
	-webkit-transform:rotateZ(45deg);
	margin-left:-8px;
	-webkit-box-shadow:inset -1px -1px 0 #a9a9a9;
	-webkit-border-bottom-right-radius:2px;
	
	-webkit-transform:rotateZ(-135deg);
	background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(238,238,238,0)),color-stop(0.4,rgba(238,238,238,0)),color-stop(0.4,#eee));
	-webkit-box-shadow:inset -1px -1px 0 #fff;
	top:-9px; bottom:auto; right:40px;
}




#errorOutput { display:none; position:absolute; top:20px; left: 20px; line-height:18px; font-size:10px; background-color:white; z-index:100; }
#errorOutput div { color: red; }