* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

body {
  height:150%;
  background-color:#F0E8D1;
  color:#463220;
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
/*  -webkit-box-shadow: inset 5px 0px 10px #888888;*/
}

#header {
  top:0;
  left:0;
  width:100%;
  height:45px;
  line-height:45px;
  padding:0;
  height:45px;
}

#header span {
  border:1px solid #463220;
  padding:4px;
  -webkit-border-radius:4px;
}

#wrapper {
  z-index:1;
  top:45px;
  bottom:48px;
  left:0;
  width:100%;
  overflow:auto;
}

#scroller {
	position:relative;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-box-sizing:border-box;
	float:left;
	width:100%;
	margin-top:10px;
}

.pages {
  font-size: 16px;
  line-height:25px;
  overflow:hidden;
  float:left;
  -webkit-box-sizing:border-box;
  margin:0;
  padding:0px 15px 20px 20px;
  text-align:justify;
/*  position:absolute;*/
}
.pages h1 {font-size: 22px; line-height:25px;}
.pages h2 {font-size: 12px; line-height:25px;}
.pages img {float:right; margin:0 0 0 10px;}



#footer {
	width:auto;
	height:48px;
}

#footerhidden {
	width:auto;
	height:200px;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:50px;
	-webkit-touch-callout: none;
}

#next {
	float:right;
	text-align:right;
}

#page-counter {
  font-size:9px;
}