* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

body {
  background:
    url('./images/bg-top-left.png') left top no-repeat,
    url('./images/bg-left.png') left top repeat-y,
    url('./images/bg-top-right.png') right top no-repeat,
    url('./images/.png') right bottom no-repeat,
    url('./images/bg-right.png') right top repeat-y,
    url('./images/.png') left bottom no-repeat;
    /*,
    url('./images/bg-top-left.png') left top;
    /*
    url(bg-left.png) left top repeat-y,
    url(bg-right.png) right top repeat-y,
    url(bg-main.png) left top;
    */
  padding:0 15px;
  background-color:#F0E8D1;
  color:#463220;
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
/*  -webkit-box-shadow: inset 5px 0px 10px #888888;*/
}

#header {
  top:0;
  left:0;
  width:100%;
  height:45px;
  line-height:45px;
  height:45px;
  -webkit-box-sizing:border-box;
}

#header #logo {
  float:left;
  height:45px;
  width:100px;
  text-indent: -9999px;
  background: orange url('./images/logo.png') no-repeat 0px 8px; /*transparent*/
}

#header #logo a{
  display:block;
  height:45px;
  width:100px;
}

#header #bookmark, #header #aa{
  float:right;
  text-indent: -9999px;
  margin-right:10px;
}

#header #bookmark {
  margin-right:0px;
}

#header #bookmark {
  height:45px;
  width:35px;
  background: orange url('./images/bookmark.png') no-repeat 0px 0px; /*transparent*/
  -webkit-transition: all 100ms linear;
}

#header #bookmark.active {
  background-position: -18px 0px;
}
  
#header #aa{
  height:45px;
  width:35px;
  background: orange url('./images/aa.png') no-repeat 0px 0px; /*transparent*/
}

#wrapper {
  z-index:1;
  top:45px;
  bottom:48px;
  left:0;
  width:100%;
  overflow:auto;
  margin:5px 0 5px 0;
/*  border:1px solid red;*/
  -webkit-box-sizing:border-box;
}

#scroller {
  position:relative;
  float:left;
  width:100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-box-sizing:border-box;
/*  border:1px solid red;*/
}

.pages {
  float:left;
/*  margin:0px 20px 0px 0px;*/
  padding:0px 10px 0px 0px;
  overflow:hidden;
  text-align:justify;
  font-size: 13px;
  line-height:25px;
  -webkit-box-sizing:border-box;
}
.pages h1 {font-size: 22px; line-height:25px;}
.pages h2 {font-size: 12px; line-height:25px;}
.pages img {float:right; margin:0 0 0 10px;}



#footer {
	width:auto;
	height:40px;
/*  background-color:red;*/
}

#footer #indicator {
  text-align:center;
  position:relative;
  margin:0 55px 0 50px;
  height:14px;
  background-image: url('./images/bg-indicator.png');
  background-color:red;
}

#footer #indicator span {
  position:absolute;
  height:14px;
  width:20px;
  top:0px;
  left:0px;
  margin:0; padding:0;
  background-image: url('./images/bg-indicator-span.png');
  background-color:green;
  -webkit-transition: all 100ms ease-in-out;
}

#footer #indicatorimg {
  left:200px;
}

#footerhidden {
	width:auto;
/*  height:200px;*/
}

#prev, #next {
	float:left;
	font-weight:bold;
	width:50px;
	height:40px;
	-webkit-touch-callout: none;
/*  background: url('http://dummyimage.com/30x10/4e9e06/4e9e06') no-repeat 10px 5px;*/
}

#next {
	float:right;
/*  background: url('http://dummyimage.com/30x10/4e9e06/4e9e06') no-repeat 10px 5px;*/
}

#pagecounter {
  font-size:9px;
  text-align:center;
}



#addToHomeScreen {
  display:none;
  position:absolute;
  top:40px;
  right:20px;
  /*left:-9999px;*/
  -webkit-transition-property:-webkit-transform,opacity;
  -webkit-transition-duration:0;
  -webkit-transform:translate3d(0,0,0);
  
	z-index:9999;
	-webkit-user-select:none;
	-webkit-box-sizing:border-box;
	width:208px;
	font-size:13px;
	padding:10px;
	text-align:left;
	font-family:helvetica;
	background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#fff),color-stop(0.02,#eee),color-stop(0.98,#ccc),color-stop(1,#a3a3a3));
	border:1px solid #505050;
	-webkit-border-radius:4px;
	-webkit-background-clip:padding-box;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	line-height:130%;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.5);
}

#addToHomeScreen .arrow {
	position:absolute;
	border-width:0 1px 1px 0;
	border-style:solid;
	border-color:#505050;
	width:16px; height:16px;
	-webkit-transform:rotateZ(45deg);
	margin-left:-8px;
	-webkit-box-shadow:inset -1px -1px 0 #a9a9a9;
	-webkit-border-bottom-right-radius:2px;
	
	-webkit-transform:rotateZ(-135deg);
	background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(238,238,238,0)),color-stop(0.4,rgba(238,238,238,0)),color-stop(0.4,#eee));
	-webkit-box-shadow:inset -1px -1px 0 #fff;
	top:-9px; bottom:auto; right:40px;
}

#errorOutput { display:none; position:absolute; top:20px; left: 20px; line-height:18px; font-size:10px; background-color:white; z-index:100; }
#errorOutput div { color: red; }