* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
}

body
{
  width:100%;
  min-height:600px;
	background: #111;
	color: #333;
	font-size: 11px;
}

a { text-decoration:none }


.box{margin-top:10px; margin-bottom:10px; text-align:center;}
.box .button {width:200px; margin-bottom:10px}


table {
  border-spacing:0;
}


#header {
  -webkit-box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3E4147), color-stop(0.5, #3E4147), color-stop(0.5, #3E4147), to(#2A2C31));
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border-bottom: 1px solid rgba(45,54,66,1);
  width:100%;
  height: 45px;
  padding: 10px;
  position: relative;
  text-align:center;
}


img.thumb{
  width:60px;
  border-bottom-left-radius: 9px 9px;
  border-bottom-right-radius: 9px 9px;
  border-top-left-radius: 9px 9px;
  border-top-right-radius: 9px 9px;
}


.title{
  height: 60px;
  margin-left:70px;
}

.grid_4.item{
  margin-left:0px;
  margin-right:0px;
}


.item{
  background:#2A2C31;
  padding:10px;
  width:100%;
}

.item.dark{ background:#1F2024}

.item  h3{
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: left;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.item .small{
  width:205px;
  margin-top:5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  
}

.item.first{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.item.last{
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}


.icon{
  background: #F12B2B url(images/icons-18-white.png) no-repeat;
  background-image: url(images/icons-18-white.png);
  background-repeat: no-repeat;
  border-bottom-left-radius: 9px 9px;
  border-bottom-right-radius: 9px 9px;
  border-top-left-radius: 9px 9px;
  border-top-right-radius: 9px 9px;
  background-position: -108px 0px;
  height: 18px;
  width: 18px;
  margin-top: -40px;
  margin-left:280px;
  position: absolute;
}



#text > h3{
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  margin-bottom:20px;
  margin-top:10px;
}

#header > h1 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  left: 50%;
  line-height: 1em;
  margin: 1px 0px 0px -75px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  top: 10px;
  white-space: nowrap;
  width: 150px;
}

img{
  width:220px;
  height:auto;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.confirm{
  margin-top:5px;
  margin-bottom:0;
  font-size:13px;
}

.container_4{margin-left:auto;margin-right:auto;width:320px}.grid_1,.grid_2,.grid_3,.grid_4{display:inline;float:left;margin-left:10px;margin-right:10px}.alpha{margin-left:0}.omega{margin-right:0}.container_4 .grid_1{width:60px}.container_4 .grid_2{width:140px}.container_4 .grid_3{width:220px}.container_4 .grid_4{width:300px}.container_4 .prefix_1{padding-left:80px}.container_4 .prefix_2{padding-left:160px}.container_4 .prefix_3{padding-left:240px}.container_4 .suffix_1{padding-right:80px}.container_4 .suffix_2{padding-right:160px}.container_4 .suffix_3{padding-right:240px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}